version: "3.9"

services:
  ros2_dev:
    # Change this to whichever image you want to run
    image: humble-devlopment:0
    container_name: ros2_humble_test

    # Enable graphical apps (RViz, Gazebo, etc.)
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/tmp/.docker.xauth
      - DEBIAN_FRONTEND=noninteractive

    volumes:
      # Workspace source code
      - ${HOME}/Documents/:/home/videh/Documents
      - ${HOME}/Downloads/:/home/videh/Downloads
      - ${HOME}/Pictures/:/home/videh/Pictures
      - ${HOME}/Videos/:/home/videh/Videos
      # Share X11 socket for GUI tools
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      # Optional: share your local ~/.config/nvim for LazyVim
      - ~/.config/nvim:/home/videh/.config/nvim:ro
      # Optional: share your bash ases or custom bashrc
      - ~/.bash_aliases:/home/videh/.bash_aliases:ro

    # Use host network for ROS2 discovery
    network_mode: host

    # Keep container running interactively
    tty: true
    stdin_open: true

    # Run as non-root (if your Dockerfile creates user 'dev')
    user: videh

    # Working directory inside container
    working_dir: /home/videh
