services:
  ros2_dev:
    # Change this to whichever image you want to run
    image: jazzy-devlopment:0
    container_name: ${CONTAINER_NAME}

    # Enable graphical apps (RViz, Gazebo, etc.)
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/tmp/.docker.xauth
      - DEBIAN_FRONTEND=noninteractive
      - TERM=xterm-256color

    volumes:
      # Workspace source code
      - ${HOME_PATH}/Documents/:/home/videh/Documents
      - ${HOME_PATH}/Downloads/:/home/videh/Downloads
      - ${HOME_PATH}/Pictures/:/home/videh/Pictures
      - ${HOME_PATH}/Videos/:/home/videh/Videos
      # Share X11 socket for GUI tools
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      # Optional: share your bash ases or custom bashrc
      - ~/.bash_aliases:/home/videh/.bash_aliases:ro

    # Use host network for ROS2 discovery
    network_mode: host

    # Keep container running interactively
    tty: true
    stdin_open: true

    # Run as non-root (if your Dockerfile creates user 'dev')
    user: videh
    hostname: ${CONTAINER_NAME}

    # Working directory inside container
    working_dir: /home/videh
